@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #001e44;
    background-image: linear-gradient(to bottom, #001024, #001e44);
    /* margin: auto; */
    background-repeat: no-repeat;

}

/* CABEÇALHOS (BARRAS) DO TOP */
/* CABEÇALHOS (BARRAS) DO TOP */
/* CABEÇALHOS (BARRAS) DO TOP */

/* .TUDO{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: auto;
    min-height: 100vh;
} */


.cabecalho {
    width: 100%;
    height: 80px;
    background-color: white;
    align-items: center;
    text-align: center;
    display: flex;
}

.cabecalho_2 {
    width: 100vw;
    height: 45px;
    background-color: #D9D9D9;
    align-items: center;
    text-align: center;
    display: flex;
}

.txt_espacos {
    display: block;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    /* font-weight: 100; */
    font-size: 9px;
    left: 22%;
    color: #001024;
    /* top: 2%; */
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.txt_espacos:hover {
    opacity: 0.5;
    transform: scale(0.95);
    color: #FF6100;
}

.txt_profissionais {
    display: block;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 9px;
    left: 34%;
    color: #FF6100;
    /* top: 2%; */
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.txt_profissionais:hover {
    opacity: 1.5;
    transform: scale(1.03);
    color: #FF6100;

}

.barra_seletora {
    /* display: block; */
    position: relative;
    border: 1.5px solid;
    color: #FF6100;
    width: 68.8px;
    height: 0px;
    left: 34.8%;
    top: 38.5px;
}

.txt_planos {
    display: block;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 9px;
    left: 48%;
    /* top: 2%; */
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.txt_planos:hover {
    opacity: 0.5;
    transform: scale(0.95);
    color: #FF6100;

}

.txt_equipamentos {
    display: block;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 9px;
    left: 58%;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.txt_equipamentos:hover {
    opacity: 0.5;
    transform: scale(0.95);
    color: #FF6100;

}

.logo {
    width: 62px;
    height: 62px;
    position: relative;
    left: 160%;
    top: 2px;
    /* top: 20px; */
    /* position: absolute; */
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.logo:hover {
    opacity: 2.5;
    transform: scale(1.1);
}

.conta {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    left: 79.2vw;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.conta:hover {
    opacity: 2.5;
    transform: scale(1.1);
}

.busca {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    left: 70vw;
    color: #011E44;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.busca:hover {
    opacity: 2.5;
    transform: scale(1.1);
}

.caixinha {
    display: block;
    width: 45px;
    height: 35 px;
    position: relative;
    left: 81vw;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.caixinha:hover {
    opacity: 2.5;
    transform: scale(1.1);
}

/* TEXTOS DA BARRA CINZA */
/* TEXTOS DA BARRA CINZA */
/* TEXTOS DA BARRA CINZA */

.cabecalho_2 {
    width: 100%;
}

.txt_geral {
    display: block;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    left: 24%;
    color: #FF6100;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.txt_geral:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.txt_audio {
    display: block;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    left: 34%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.txt_audio:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.txt_estetica {
    display: block;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    left: 46%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.txt_estetica:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.txt_edicao {
    display: block;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    left: 57%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.txt_edicao:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.txt_gravacao {
    display: block;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    left: 68%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.txt_gravacao:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

/* INICIO DAS FOTOS DO CATALOGO */
/* INICIO DAS FOTOS DO CATALOGO */
/* INICIO DAS FOTOS DO CATALOGO */

/* GRID DE TODOS DOS BLOCOS */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    width: 80%;
    height: 100%;
    border: red solid 1px;
    justify-content: center;
    padding-top: 2%;
}

/* CARDS GERAIS DO CATALOGO */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 325px;
    padding: 20px 1px;
    margin: 10px 0;
    position: relative;
    box-shadow: 0 10px 15px -3px rgba(33,150,243,.4),0 4px 6px -4px rgba(33,150,243,.4);
    border-radius: 10px;
    background-color: #2a2b41;
    background: linear-gradient(45deg, #04051dea 0%, #1f3f50 100%);
    font-family: 'Raleway', sans-serif;
  }
  
  .textos {
    padding-bottom: 20px;
  }
  
  .textos .preço {
    color: white;
    font-weight: 800;
    font-size: 40px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
    text-align: center;
  }
  
  .textos .descrição {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
    font-size: 12px;
    line-height: 20px;
    padding-left: 15px;
    padding-right: 15px
  }
  
  .textos .titulo {
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.64);
    margin-top: 8px;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
  }
  
  botão {
    color: rgb(255 255 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    padding: 0.75rem 1.5rem;
    background-color: rgb(33 150 243);
    border-radius: 0.5rem;
    width: 50%;
    text-shadow: 0px 4px 18px #2c3442;
    cursor: pointer;
    text-align: center;
  }
  
  
/* BLOCOS GERAIS */

/* .bloco_1 {

    display: block;
    width: 250px;
    height: 375px;
    border-radius: 20px 20px;
    background-color: #002658;
    align-items: center;
    padding-top: 6.5%;
} */

/* IMAGENS DOS BLOCOS GERAIS */

.imgE1 {
    display: block;
    width: 215px;
    height: 230px;
    border-radius: 10px 25px 10px 25px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/* .txt_bloco1{
    display: block;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 9px;
    font-weight: normal;
    left: 2%;
    color: white;
} */