@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* TEXTOS DA BARRA CINZA */
/* TEXTOS DA BARRA CINZA */
/* TEXTOS DA BARRA CINZA */

.cabecalho_2 {
    width: 100%;
}

.txt_geral {
    display: block;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    left: 24%;
    color: #FF6100;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.txt_geral:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.txt_audio {
    display: block;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    left: 34%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.txt_audio:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.txt_estetica {
    display: block;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    left: 46%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.txt_estetica:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.txt_edicao {
    display: block;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    left: 57%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.txt_edicao:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.txt_gravacao {
    display: block;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    left: 68%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.txt_gravacao:hover {
    opacity: 0.8;
    transform: scale(1.05);
}