@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #001e44;
  background-image: linear-gradient(to bottom, #001024, #001e44);
  /* margin: auto; */
  background-repeat: no-repeat;

}

/* CABECALHO */
/* CABECALHO */
/* CABECALHO */

.cabecalho {
  width: 100%;
  height: 80px;
  background-color: white;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.8fr 0.8fr;
}

.logo {
  display: flex;
  position: relative;
  width: 62px;
  height: 62px;
  top: 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: auto;
}

.logo:hover {
  opacity: 2.5;
  transform: scale(1.1);
}

.txt_espacos {
  display: flex;
  position: relative;
  font-family: 'Raleway', sans-serif;
  align-items: center;
  font-size: 9px;

  color: #FF6100;
  top: 4.5%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  margin: auto;
}

.txt_espacos:hover {
  opacity: 0.5;
  transform: scale(0.95);
  color: #FF6100;
}

.txt_profissionais {
  display: flex;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 9px;
  color: #001024;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  top: 4.5%;
  align-items: center;
  text-decoration: none;
  margin: auto;
}

.txt_profissionais:hover {
  opacity: 0.5;
  transform: scale(0.95);
  color: #FF6100;

}

.txt_combos {
  display: flex;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 9px;
  color: #001024;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  top: 4.5%;
  align-items: center;
  text-decoration: none;
  margin: auto;
}

.txt_combos:hover {
  opacity: 0.5;
  transform: scale(0.95);
  color: #FF6100;

}

.txt_equipamentos {
  display: flex;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 9px;
  -webkit-transition-duration: 0.4s;
  color: #001024;
  transition-duration: 0.4s;
  top: 4.5%;
  align-items: center;
  text-decoration: none;
  margin: auto;
}

.txt_equipamentos:hover {
  opacity: 0.5;
  transform: scale(0.95);
  color: #FF6100;

}

.conta {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-left: auto;
}

.conta:hover {
  opacity: 2.5;
  transform: scale(1.1);
}

.caixinha {
  display: flex;
  position: relative;
  margin: auto;
  width: 45px;
  height: 35px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.caixinha:hover {
  opacity: 2.5;
  transform: scale(1.1);
}

/* FIM CABECALHO */
/* FIM CABECALHO */
/* FIM CABECALHO */

/* TEXTOS DA BARRA CINZA */
/* TEXTOS DA BARRA CINZA */
/* TEXTOS DA BARRA CINZA */
/* TEXTOS DA BARRA CINZA */
/* TEXTOS DA BARRA CINZA */
/* TEXTOS DA BARRA CINZA */

.cabecalho_2 {
  width: 100%;
}

.txt_geral {
  display: block;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  left: 24%;
  color: #FF6100;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.txt_geral:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.txt_audio {
  display: block;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  left: 34%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.txt_audio:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.txt_estetica {
  display: block;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  left: 46%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.txt_estetica:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.txt_edicao {
  display: block;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  left: 57%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.txt_edicao:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.txt_gravacao {
  display: block;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  left: 68%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.txt_gravacao:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

/* FIM CABECALHO */
/* FIM CABECALHO */
/* FIM CABECALHO */

/* GRID GERAL DAS DIV's */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  margin-bottom: 12%;
  grid-row-gap: 60px;
  grid-column-gap: 100px;
  width: 60%;
  height: 100%;
  justify-content: center;
  margin-top: 7%;
}

/* STYLE DO TEXTO DA DESCRIÇÃO DO ITEM */

.descricao {
  width: 600px;
  height: autos;
  border-radius: 20px;
  position: relative;
  font-family: 'Raleway', sans-serif;
  transition: 0.5s ease-out;
  overflow: visible;
}

.descricao-details {
  color: #011E44;
  height: 100%;
  gap: .5em;
  display: grid;
  /* place-content: center; */
  margin-bottom: 20%;
}

.txt_nome {
  color: #D9D9D9;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 50px;
}

/* GRID DO PREÇO COM O BOTÃO DE ALUGUEL */

.prosseguir {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.txt_preco {
  color: #FF6100;
  font-size: 33px;
  font-weight: bold;
  position: relative;
  display: flex;
}

/* STYLE DO BOTÃO DE ALUGUEL */

.botao_alugar {
  margin: auto;
  display: block;
  width: 150px;
  height: 50px;
  border-radius: 30px 30px 30px 30px;
  border: none;
  cursor: pointer;
  background-color: #FF6100;
  color: #fff;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);

}

.botao_alugar:hover {
  color: #FF6100;
  border: #FF6100 1.5px solid;
  background-color: #001024;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

a{
  text-decoration: none;
}

/* STYLE DOS TEXTOS DE ESPECIFICAÇÕES E LOCALIZAÇÃO */

.titulo_especificacoes {
  color: #D9D9D9;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-left: 5%;
}

.especificacoes {
  color: #D9D9D9;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin-left: 10%;
}

.localizacao {
  color: #D9D9D9;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.title_localizacao {
  margin-left: 5%;
}

.localizacao ul {
  margin-left: 10%;
}


/* STYLE DO CARROSSEL DE IMAGENS */
/* STYLE DO CARROSSEL DE IMAGENS */
/* STYLE DO CARROSSEL DE IMAGENS */

.img_carrossel {
  width: 400px;
  border-radius: 40px;
  display: block;
}

/* STYLE DOS BOTÕES DO CARROSSEL */
/* STYLE DOS BOTÕES DO CARROSSEL */
/* STYLE DOS BOTÕES DO CARROSSEL */

.botao_carrossel {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#botao_anterior {
  background: none;
  border: none;
  margin: 10px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#botao_anterior:hover {
  opacity: 2.5;
  transform: scale(1.1);
}

#botao_proximo {
  background: none;
  border: none;
  margin: 10px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#botao_proximo:hover {
  opacity: 2.5;
  transform: scale(1.1);
}

/* STYLE DAS IMAGENS DOS BOTÕES */

.img_botaoleft {
  width: 40px;
}

.img_botaoright {
  width: 40px;
}

/* STYLE DO FOOTER */
/* STYLE DO FOOTER */
/* STYLE DO FOOTER */

footer{
  background-color:#001024;
  color: #888888;
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  font-family: 'Raleway';
  padding: 25px;
}

.footer_left{
  margin: auto;
}

.footer_center{
  margin: auto;
}

.footer_right{
  margin: auto;
  text-align: center;
}

.logo_footer{
  width: 90px;
}

.footer_right a{
  margin: auto;
  color: #FF6100;
}