@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #001e44;
    background-image: linear-gradient(to bottom, #001024, #001e44);
    /* margin: auto; */
    background-repeat: no-repeat;

}

/* INICIO DAS FOTOS DO CATALOGO */
/* INICIO DAS FOTOS DO CATALOGO */
/* INICIO DAS FOTOS DO CATALOGO */

/* GRID DE TODOS DOS BLOCOS */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-bottom: 12%;
    grid-row-gap: 60px;
    grid-column-gap: 70px;
    width: 60%;
    height: 100%;
    /* border: red solid 1px; linha pra medir os lados da pagina*/ 
    justify-content: center;
    padding-top: 3%;
}

/* CARDS GERAIS DO CATALOGO */

/* .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 325px;
    padding: 20px 1px;
    margin: 10px 0;
    position: relative;
    box-shadow: 0 10px 15px -3px rgba(33, 150, 243, .4), 0 4px 6px -4px rgba(33, 150, 243, .4);
    border-radius: 10px;
    background-color: #2a2b41;
    background: linear-gradient(45deg, #04051dea 0%, #1f3f50 100%);
    font-family: 'Raleway', sans-serif;
} */

.card {
  width: 200px;
  height: 300px;
  border-radius: 20px;
  background: #D9D9D9;
  position: relative;
  font-family: 'Raleway', sans-serif;
  padding: 25px;
  border: 2px solid white;
  transition: 0.5s ease-out;
  overflow: visible;
 }
 
 .card-details {
  color: #011E44;
  height: 100%;
  gap: .5em;
  display: grid;
  /* place-content: center; */
  margin-bottom: 20%;
 }
 
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  height: 10%;
  border-radius: 30px 30px 30px 30px;
  border: none;
  background-color: #FF6100;
  color: #fff;
  font-size: 16px ;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }

.preco{
    display: flex;
}

.img_produto{
    width: 99%;
}
 
 .txt_preco1 {
  color: #FF6100;
  font-size: 33px;
  font-weight: bold;
  position: relative;
  display: flex;
  width: 60%;

 }

 .txt_preco2 {
    color: #8f8f8f;
    font-size: 20px;
    position: relative;
    top: 20%;
    text-align: center;
    display: flex;
   }
 
 /*Text*/
 .txt_titulo {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  top: 0%;
  position: relative;
 }
 
 /*Hover*/
 .card:hover {
  border-color: #FF6100;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }  

  /* FIM DO CARD */

/* .bloco_1 {

    display: block;
    width: 250px;
    height: 375px;
    border-radius: 20px 20px;
    background-color: #002658;
    align-items: center;
    padding-top: 6.5%;
} */

/* IMAGENS DOS BLOCOS GERAIS */

.imgE1 {
    display: block;
    width: 215px;
    height: 230px;
    border-radius: 10px 25px 10px 25px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/* .txt_bloco1{
    display: block;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 9px;
    font-weight: normal;
    left: 2%;
    color: white;
} */