@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #8B8B8B;
    background-repeat: no-repeat;

}


/* CABECALHO */
/* CABECALHO */
/* CABECALHO */

.cabecalho {
    width: 100%;
    height: 80px;
    background-color: white;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.8fr 0.8fr;
    margin-bottom: 2%;
}

.logo {
    display: flex;
    position: relative;
    width: 62px;
    height: 62px;
    top: 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: auto;
}

.logo:hover {
    opacity: 2.5;
    transform: scale(1.1);
}

.txt_espacos {
    display: flex;
    position: relative;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    font-size: 9px;

    color: #001024;
    top: 4.5%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    margin: auto;
}

.txt_espacos:hover {
    opacity: 0.5;
    transform: scale(0.95);
    color: #FF6100;
}

.txt_profissionais {
    display: flex;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 9px;
    color: #001024;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    top: 4.5%;
    align-items: center;
    text-decoration: none;
    margin: auto;
}

.txt_profissionais:hover {
    opacity: 0.5;
    transform: scale(0.95);
    color: #FF6100;

}

.txt_combos {
    display: flex;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 9px;
    color: #001024;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    top: 4.5%;
    align-items: center;
    text-decoration: none;
    margin: auto;
}

.txt_combos:hover {
    opacity: 0.5;
    transform: scale(0.95);
    color: #FF6100;

}

.txt_equipamentos {
    display: flex;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 9px;
    -webkit-transition-duration: 0.4s;
    color: #001024;
    transition-duration: 0.4s;
    top: 4.5%;
    align-items: center;
    text-decoration: none;
    margin: auto;
}

.txt_equipamentos:hover {
    opacity: 0.5;
    transform: scale(0.95);
    color: #FF6100;

}

.conta {
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-left: auto;
}

.conta:hover {
    opacity: 2.5;
    transform: scale(1.1);
}

.caixinha {
    display: flex;
    position: relative;
    margin: auto;
    width: 48px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.caixinha:hover {
    opacity: 2.5;
    transform: scale(1.1);
}

/* FIM CABECALHO */
/* FIM CABECALHO */
/* FIM CABECALHO */

/* TEXTOS DA BARRA CINZA */
/* TEXTOS DA BARRA CINZA */
/* TEXTOS DA BARRA CINZA */

.cabecalho_2 {
    width: 100%;
}

.txt_geral {
    display: block;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    left: 24%;
    color: #FF6100;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.txt_geral:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.txt_audio {
    display: block;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    left: 34%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.txt_audio:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.txt_estetica {
    display: block;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    left: 46%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.txt_estetica:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.txt_edicao {
    display: block;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    left: 57%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.txt_edicao:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.txt_gravacao {
    display: block;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    left: 68%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.txt_gravacao:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

/* FIM DO CABECALHO */
/* FIM DO CABECALHO */
/* FIM DO CABECALHO */

.titulo_pagamento {
    border-radius: 30px 30px 30px 30px;
    border: #011E44 solid 1px;
    width: 25%;
    font-family: 'Raleway', bold;
    font-size: 35px;
    color: #FF6100;
    background-color: #011E44;
    margin: auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

/* GRID GERAL DOS BOXES */
/* GRID GERAL DOS BOXES */
/* GRID GERAL DOS BOXES */

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    padding-bottom: 10%;
}

/* STYLE DO BOX PAGAMENTO */

.box_pagamento {
    width: 50%;
    height: auto;
    color: #011E44;
    border: solid 1px #011E44;
    border-radius: 30px 30px 30px 30px;
    background-color: #011E44;
    color: #D9D9D9;
    margin-top: 1%;
    margin: auto;
}

/* FORMATAÇÃO DAS INFOS DO BOX PAGAMENTO */
/* FORMATAÇÃO DAS INFOS DO BOX PAGAMENTO */
/* FORMATAÇÃO DAS INFOS DO BOX PAGAMENTO */

.valor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
    grid-column-gap: 20px;
}

.txt_valortotal {
    color: #FF6100;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin-top: 5%;
    margin-left: auto;
}

.num_valortotal {
    color: #D9D9D9;
    font-family: 'Raleway';
    margin-top: 5%;
    font-size: 25px;
}

/* STYLE DO BOTÃO QUE FINALIZA O PAGAMENTO */
/* STYLE DO BOTÃO QUE FINALIZA O PAGAMENTO */


 .botao_finalizar {
    appearance: none;
    background-color: transparent;
    border: 3px solid #FF6100;
    border-radius: 30px 30px 30px 30px;
    box-sizing: border-box;
    color: #FF6100;
    background-color: #001024;
    cursor: pointer;
    display: block;
    font-family: 'Raleway';
    font-size: 20px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 3%;
    height: 40%;
    width: 40%;
    outline: none;
    padding: 20px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

/* ANIMAÇÃO DO BOTÃO FINALIZAR */
/* ANIMAÇÃO DO BOTÃO FINALIZAR */
/* ANIMAÇÃO DO BOTÃO FINALIZAR */

.botao_finalizar:disabled {
    pointer-events: none;
}

.botao_finalizar:hover {
    color: #001024;
    background-color: #FF6100;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.botao_finalizar:active {
    box-shadow: none;
    transform: translateY(0);
}

/* POPUP DE FINALIZAÇÃO DE COMPRA */
/* POPUP DE FINALIZAÇÃO DE COMPRA */
/* POPUP DE FINALIZAÇÃO DE COMPRA */

.popup-wrapper{
    display: none;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.popup{
    text-align: center;
    width: 30%;
    height: auto;
    margin: 10% auto;
    padding: 20px;
    background: #FF6100;
    position: relative;
    border: solid 1px #011E44;
    border-radius: 30px 30px 30px 30px;
}

.popup-content{
    text-align: center;
    color: #D9D9D9;
    position: relative;
    font-size: 20px;
    font-family: 'Raleway';
}

.image_popup{
    width: 30%;
    height: auto;
    position: relative;
    margin: auto;
}

/* STYLE DO BOTÃO QUE LEVA PARA O HISTÓRICO */

.popup a {
    padding: 6px 10px;
    text-decoration: none;
    border: 3px solid #FF6100;
    border-radius: 30px 30px 30px 30px;
    box-sizing: border-box;
    color: #FF6100;
    background-color: #001024;
    cursor: pointer;
    display: block;
    font-family: 'Raleway';
    font-size: 20px;
    margin: auto;
    height: 60%;
    width: 70%;
    padding: 10px;
    padding-top: 10px;
    outline: none;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 3%;
}

/* ANIMAÇÃO DO BOTÃO DO POPUP */

.popup a:disabled {
    pointer-events: none;
}

.popup a:hover {
    color: #001024;
    font-weight: 600;
    background-color: #FF6100;
    border: 3px solid #001024 ;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.popup a:active {
    box-shadow: none;
    transform: translateY(0);
}

/* CHECK DO PAGAMENTO */

.loading {
    width: 124px;
    height: 124px;
    margin: auto;
    padding-bottom: 10px ;
  }
  
  .loading svg {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 10px ;
    padding-bottom: 20px;
  }
  
  .circle {
    transform: rotate(-90deg);
    transform-origin: center;
    stroke-dasharray: 380;
    stroke-dashoffset: 380;
    animation: circle_4 2s ease-in-out forwards;
  }

  .circle-loading{
    opacity: 50%;
  }
  
  .check {
    stroke-dasharray: 45;
    stroke-dashoffset: 45;
    animation: check_4 0.2s 2s ease-in-out forwards;
  }
  
  @keyframes circle_4 {
    0% {
      stroke-dashoffset: 380;
    }
  
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes check_4 {
    0% {
      stroke-dashoffset: 45;
    }
  
    100% {
      stroke-dashoffset: 90;
    }
  }

/* FIM DO BOX PAGAMENTO */
/* FIM DO BOX PAGAMENTO */
/* FIM DO BOX PAGAMENTO */

/* INICIO BOX METODOS */
/* INICIO BOX METODOS */
/* INICIO BOX METODOS */

/* DIV PAI DO BOX */

.wrapper_metodos {
    display: block;
}

/* BOX PAI */

.box_metodo_pagamento {
    width: 100%;
    height: 90%;
}

/* BLOCO DOS ITENS DO BOX */

.box_icones {
    display: block;
    width: 50%;
    height: auto;
    border: #011E44 solid 3px;
    background-color: #011E44;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 1%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

/* STYLE DOS TEXTOS */

.textos_metodo {
    align-items: center;
    max-height: 50px;
}

.txt_metodos {
    color: #D9D9D9;
    margin: auto;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 35px;
    font-family: 'Raleway';
}

.box_metodos {
    height: auto;
    border-radius: 20px;
    position: relative;
    font-family: 'Raleway', sans-serif;
    padding: 22px;
    transition: 0.5s ease-out;
    overflow: visible;
}

/* GRID DOS METODOS DE PAGAMENTO */

.grid_metodos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1%;
    grid-row-gap: 10px;
    grid-column-gap: 50px;
    width: 90%;
    margin: auto;
    padding-bottom: 5%;
}

.metodo {
    display: grid;
    grid-template-columns: 1fr;
    background: #001024;
    border-radius: 20px;
    margin-left: 3%;
    align-items: center;
    align-self: start;
}


/* FORMATAÇÃO DO METODO */

.metodo_form {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-column-gap: 60px;
    width: 80%;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 20px;
    position: relative;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    margin: auto;
    align-items: center;

}

/* STYLE DO HEADER DO METODO */

.img_metodo {
    width: 85%;
    max-width: 120px;
    margin-left: 2%;
}

.nome_metodo {
    color: #FF6100;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    position: relative;
    font-weight: 700;
    margin-top: 1%;
}

/* STYLE DO QR CODE DO PIX */

.img_qr {
    width: 80%;
    max-width: 200px;
    margin: auto;
    padding-bottom: 30px;
}

/* STYLE DO FORMULÁRO DE PREENCHIMENTO */
/* STYLE DO FORMULÁRO DE PREENCHIMENTO */
/* STYLE DO FORMULÁRO DE PREENCHIMENTO */

.card-container {
    padding: 20px;
    width: 70%;
    margin: 10px auto;
    row-gap: 40px;
}

/* FORMATÇÃO DOS INPUTS DO FORM */
/* FORMATÇÃO DOS INPUTS DO FORM */
/* FORMATÇÃO DOS INPUTS DO FORM */

.card-container input {
    width: 100%;
    height: 31px;
    background: #D9D9D9;
    font-family: 'Raleway';
    font-size: 12px;
    border-radius: 10px;
    border: 2px solid #D9D9D9;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
}

.card-container ::placeholder {
    padding-left: 5%;
}

.card-container data {
    padding-left: 5%;
}