@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100;
  height: 100vh;
  background-color: #8B8B8B;
  background-repeat: no-repeat;

}

.cabecalho {
  width: 100%;
  height: 80px;
  background-color: white;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.8fr 0.8fr;
}

.logo {
  display: flex;
  position: relative;
  width: 62px;
  height: 62px;
  top: 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: auto;
}

.logo:hover {
  opacity: 2.5;
  transform: scale(1.1);
}

.txt_espacos {
  display: flex;
  position: relative;
  font-family: 'Raleway', sans-serif;
  align-items: center;
  font-size: 9px;

  color: #001024;
  top: 4.5%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  margin: auto;
}

.txt_espacos:hover {
  opacity: 0.5;
  transform: scale(0.95);
  color: #FF6100;
}

.txt_profissionais {
  display: flex;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 9px;
  color: #001024;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  top: 4.5%;
  align-items: center;
  text-decoration: none;
  margin: auto;
}

.txt_profissionais:hover {
  opacity: 0.5;
  transform: scale(0.95);
  color: #FF6100;

}

.txt_combos {
  display: flex;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 9px;
  color: #001024;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  top: 4.5%;
  align-items: center;
  text-decoration: none;
  margin: auto;
}

.txt_combos:hover {
  opacity: 0.5;
  transform: scale(0.95);
  color: #FF6100;

}

.txt_equipamentos {
  display: flex;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 9px;
  -webkit-transition-duration: 0.4s;
  color: #001024;
  transition-duration: 0.4s;
  top: 4.5%;
  align-items: center;
  text-decoration: none;
  margin: auto;
}

.txt_equipamentos:hover {
  opacity: 0.5;
  transform: scale(0.95);
  color: #FF6100;

}

.conta {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-left: auto;
}

.conta:hover {
  opacity: 2.5;
  transform: scale(1.1);
}

.caixinha {
  display: flex;
  position: relative;
  margin: auto;
  width: 48px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.caixinha:hover {
  opacity: 2.5;
  transform: scale(1.1);
}

/* FIM DO CABECALHO */
/* FIM DO CABECALHO */
/* FIM DO CABECALHO */

/* GRID GERAL DOS BOXES */
/* GRID GERAL DOS BOXES */
/* GRID GERAL DOS BOXES */

.wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin-bottom: 12%;
  grid-row-gap: 15px;
  grid-column-gap: 100px;
  height: 100%;
  width: 50%;
  justify-content: center;
  padding-top: 2%;
}

/* STYLE DO BOX PAGAMENTO */

.box_pagamento {
  right: 5%;
  width: 38%;
  color: #011E44;
  border: solid 1px #011E44;
  border-radius: 30px 30px 30px 30px;
  background-color: #011E44;
  color: #D9D9D9;
  position: absolute;
  margin-top: 3%;
  display: block;
}

/* FORMATAÇÃO DOS ITENS DENTRO DO BOX PAGAMENTO */
/* FORMATAÇÃO DOS ITENS DENTRO DO BOX PAGAMENTO */
/* FORMATAÇÃO DOS ITENS DENTRO DO BOX PAGAMENTO */

.total {
  color: #FF6100;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-left: 6%;
  margin-top: 3%;
}

.quantidade_box {
  display: flex;
}

.item_box1 {
  display: flex;
  justify-content: space-between 12px;
  margin-top: 3%;
}

.quantidade_box1 {
  color: #FF6100;
  margin-left: 6%;
  font-size: 18px;
  font-family: 'Raleway';
}

.nome_item_box1 {
  font-family: 'Raleway';
  font-size: 19px;
  max-width: 90%;
  margin-left: 2%;
}

.sinal_mais1 {
  color: #FF6100;
  margin-left: 6%;
  margin-top: 2%;
}

.item_box2 {
  display: flex;
  justify-content: space-between 12px;
  margin-top: 2%;
}

.quantidade_box2 {
  color: #FF6100;
  margin-left: 6%;
  font-size: 18px;
  font-family: 'Raleway';
}

.nome_item_box2 {
  font-family: 'Raleway';
  font-size: 19px;
  margin-left: 2%;
}

.valor_box1 {
  color: #A6A6A6;
  font-family: 'Raleway';
  font-size: 14px;
  left: 80%;
  position: absolute;
  margin-top: 1%;
}

.valor_box2 {
  color: #A6A6A6;
  font-family: 'Raleway';
  font-size: 14px;
  left: 80%;
  position: absolute;
  margin-top: 1%;
}

/* BARRA DIVISÓRIA SEPARANDO O VALOR FINAL DA SOMA */

.barra_divisoria {
  display: block;
  position: relative;
  border: 1.5px solid;
  color: #FF6100;
  width: 90%;
  height: 0px;
  margin: auto;
  margin-top: 10%;
}

.num_total {
  color: #FF6100;
  font-family: 'Raleway';
  margin-left: 6%;
  margin-top: 5%;
  font-size: 30px;
}

/* STYLE DO BOTÃO PARA CONTINUAR O ALUGUEL */
/* STYLE DO BOTÃO PARA CONTINUAR O ALUGUEL */
/* STYLE DO BOTÃO PARA CONTINUAR O ALUGUEL */

.botao_continuar {
  appearance: none;
  background-color: transparent;
  border: 3px solid #FF6100;
  border-radius: 30px 30px 30px 30px;
  box-sizing: border-box;
  color: #FF6100;
  background-color: #001024;
  cursor: pointer;
  display: block;
  font-family: 'Raleway';
  font-size: 17px;
  margin: auto;
  margin-top: 8%;
  margin-bottom: 5%;
  min-height: 15%;
  min-width: 40%;
  outline: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

/* ANIMAÇÃO DO BOTÃO CONTINUAR */
/* ANIMAÇÃO DO BOTÃO CONTINUAR */
/* ANIMAÇÃO DO BOTÃO CONTINUAR */

.botao_continuar:disabled {
  pointer-events: none;
}

.botao_continuar:hover {
  color: #001024;
  background-color: #FF6100;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

/* ANIMAÇÃO DO LINK */
/* ANIMAÇÃO DO LINK */
/* ANIMAÇÃO DO LINK */

.botao_continuar:active {
  box-shadow: none;
  transform: translateY(0);
}

a.link_continuar:link {
  color: #001024;
  text-decoration: none;
}

a.link_continuar:visited {
  color: #001024;
  text-decoration: none;
}

a.link_continuar:hover {
  color: #001024;
  background-color: #FF6100;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  text-decoration: none;
}

a.link_continuar:active {
  box-shadow: none;
  transform: translateY(0);
  text-decoration: none;
}

/* TITULO CAIXINHA */

.header_boxcaixinha {
  border-radius: 30px 30px 30px 30px;
  border: #011E44 solid 1px;
  width: 40%;
  font-family: 'Raleway', bold;
  font-size: 33px;
  color: #FF6100;
  background-color: #011E44;
  margin-left: 3%;
  margin-top: 2%;
  padding: 6px;
  text-align: center;
  text-transform: uppercase;
}


/*  GRID DOS ITENS */
/*  GRID DOS ITENS */
/*  GRID DOS ITENS */

.grid_itens {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1%;
  grid-row-gap: 10px;
  grid-column-gap: 40px;
  width: 100%;
  justify-content: center;
  padding-top: 2%;
}

/* STYLE DOS ITENS */

.itens {
  display: grid;
  grid-template-columns: 1.4fr 4fr 1fr;
  width: 140%;
  max-width: 600px;
  height: 120px;
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 20px;
  background: #011E44;
  position: relative;
  font-family: 'Raleway', sans-serif;
  padding: 22px;
  transition: 0.5s ease-out;
  overflow: visible;
}

/* FORMATAÇÃO DAS INFOS DOS ITENS */
/* FORMATAÇÃO DAS INFOS DOS ITENS */
/* FORMATAÇÃO DAS INFOS DOS ITENS */

.itens_details {
  color: #011E44;
  height: 100%;
  margin-bottom: 20%;
}

.img_itens {
  width: 90%;
  max-width: 120px;
  border-radius: 18px;
}

.textos_itens {
  align-items: center;
  max-height: 50px;
}

.nome_itens {
  color: #D9D9D9;
  font-size: 18px;
}


.quantidade {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
}

.txt_quantidade {
  color: #A6A6A6;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  position: relative;
}

.num_quantidade {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #FF6100;
}

.preco {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
}

.txt_preco {
  margin-top: 2%;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  position: relative;
  color: #A6A6A6;
}

.num_preco {
  margin-top: 1%;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  position: relative;
  font-weight: 600;
  color: #FF6100;
}

/* STYLE DOS BOTÕES */

.botoes {
  display: grid;
  grid-template-columns: 1fr;
}

/* STYLE DO BOTÃO DE REMOVER ITEM DO CARRINHO */

.remover_item {
  width: 30%;
  max-width: 40px;
  margin-left: auto;
}

/* BOTÃO PARA VER O ITEM ADICIONADO */

.botao_veritem {
  position: relative;
  appearance: none;
  background-color: transparent;
  border: 3px solid #001024;
  border-radius: 30px 30px 30px 30px;
  color: #D9D9D9;
  background-color: #001024;
  cursor: pointer;
  display: block;
  font-family: 'Raleway';
  font-size: 15px;
  height: 50%;
  max-height: 60px;
  margin-top: 50%;
  max-width: 120px;
  outline: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* ANIMAÇÃO DO BOTÃO VER ITEM */
/* ANIMAÇÃO DO BOTÃO VER ITEM */

.botao_veritem:disabled {
  pointer-events: none;
}

.botao_veritem:hover {
  color: #001024;
  background-color: #FF6100;
  transform: translateY(-2px);
  font-weight: bold
}

.botao_veritem:disabled:active {
  transform: translateY(0);
}

/* FORMATAÇÃO DO AGRUPAMENTO DOS ITENS DA CAIXINHA */
/* FORMATAÇÃO DO AGRUPAMENTO DOS ITENS DA CAIXINHA */
/* FORMATAÇÃO DO AGRUPAMENTO DOS ITENS DA CAIXINHA */

.box_caixinha {
  height: auto;
  border-radius: 20px;
  width: 100%;
  position: relative;
  margin-left: 5%;
  font-family: 'Raleway', sans-serif;
  padding: 22px;
  transition: 0.5s ease-out;
  overflow: visible;
}

.header_detailscaixinha {
  color: #FF6100;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 500px;
}