@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #002658;
  background-image: linear-gradient(to bottom, #001024, #002658);
  /* margin: auto; */
  background-repeat: no-repeat;

}


/* CABECALHO */
/* CABECALHO */
/* CABECALHO */

.cabecalho {
  width: 100%;
  height: 80px;
  background-color: white;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.8fr 0.8fr;
}

.logo {
  display: flex;
  position: relative;
  width: 62px;
  height: 62px;
  top: 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: auto;
}

.logo:hover {
  opacity: 2.5;
  transform: scale(1.1);
}

.txt_espacos {
  display: flex;
  position: relative;
  font-family: 'Raleway', sans-serif;
  align-items: center;
  font-size: 9px;

  color: #001024;
  top: 4.5%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  margin: auto;
}

.txt_espacos:hover {
  opacity: 0.5;
  transform: scale(0.95);
  color: #FF6100;
}

.txt_profissionais {
  display: flex;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 9px;
  color: #FF6100;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  top: 4.5%;
  align-items: center;
  text-decoration: none;
  margin: auto;
}

.txt_profissionais:hover {
  opacity: 0.5;
  transform: scale(0.95);
  color: #FF6100;

}

.txt_combos {
  display: flex;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 9px;
  color: #001024;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  top: 4.5%;
  align-items: center;
  text-decoration: none;
  margin: auto;
}

.txt_combos:hover {
  opacity: 0.5;
  transform: scale(0.95);
  color: #FF6100;

}

.txt_equipamentos {
  display: flex;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 9px;
  -webkit-transition-duration: 0.4s;
  color: #001024;
  transition-duration: 0.4s;
  top: 4.5%;
  align-items: center;
  text-decoration: none;
  margin: auto;
}

.txt_equipamentos:hover {
  opacity: 0.5;
  transform: scale(0.95);
  color: #FF6100;

}

.conta {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-left: auto;
}

.conta:hover {
  opacity: 2.5;
  transform: scale(1.1);
}

.caixinha {
  display: flex;
  position: relative;
  margin: auto;
  width: 45px;
  height: 35px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.caixinha:hover {
  opacity: 2.5;
  transform: scale(1.1);
}

/* FIM CABECALHO */
/* FIM CABECALHO */
/* FIM CABECALHO */

/* BARRA CINZA */
/* BARRA CINZA */
/* BARRA CINZA */

.cabecalho2_cor {
  width: 100%;
  background-color: #D9D9D9;
}

.cabecalho_2 {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: auto;
  height: 40px;
  background-color: #D9D9D9;
}

.txt_geral {
  position: relative;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  color: #FF6100;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
}

.txt_geral:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.txt_audio {
  position: relative;
  margin: auto;
  color: #001024;
  font-family: 'Raleway', sans-serif;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
}

.txt_audio:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.txt_estetica {
  position: relative;
  margin: auto;
  color: #001024;
  font-family: 'Raleway', sans-serif;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
}

.txt_estetica:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.txt_edicao {
  position: relative;
  margin: auto;
  color: #001024;
  font-family: 'Raleway', sans-serif;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
}

.txt_edicao:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.txt_gravacao {
  position: relative;
  margin: auto;
  color: #001024;
  font-family: 'Raleway', sans-serif;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
}

.txt_gravacao:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

/* FIM DA CABECALHO */
/* FIM DA CABECALHO */
/* FIM DA CABECALHO */

.titulo_profissionais {
  color: #D9D9D9;
  text-align: center;
  margin-top: 2%;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 38px;
}

.subtitulo_profissionais {
  color: #D9D9D9;
  text-align: center;
  margin-top: 0.5%;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}

/* GRID DOS PROFISSIONAIS */
/* GRID DOS PROFISSIONAIS */
/* GRID DOS PROFISSIONAIS */

.wrapper {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr;
  margin-bottom: 1%;
  grid-row-gap: 30px;
  grid-column-gap: 40px;
  width: 55%;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 5%;

}

/* CARDS GERAIS DOS PROFISSIONAIS */
/* CARDS GERAIS DOS PROFISSIONAIS */
/* CARDS GERAIS DOS PROFISSIONAIS */

.card {
  display: grid;
  margin: auto;
  grid-template-columns: 0.5fr 1fr 1fr;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #D9D9D9;
  position: relative;
  font-family: 'Raleway', sans-serif;
  transition: 0.5s ease-out;
  overflow: visible;
}

/* IMAGEM DO PROFISSIONAL */

.img_profi {
  display: block;
  position: relative;
  width: 90%;
  max-width: 150px;
  padding: 18px;
  border-radius: 20%;
}

/* TEXTOS DOS CARDS */

.textos_card {
  align-items: center;
  max-height: 50px;
  padding: 15px;

}

.txt_nomeprof {
  color: #001e44;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  position: relative;
  font-weight: 700;
  margin-top: 1%;
  padding-bottom: 25px;
  
}

/* STYLE DAS INFOS DOS PROFISSIONAIS */
/* STYLE DAS INFOS DOS PROFISSIONAIS */
/* STYLE DAS INFOS DOS PROFISSIONAIS */

.grid_categoria {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
}

.txt_categoria {
  margin-top: 2%;
  padding-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 16.5px;
  position: relative;
  font-weight: 500;
  color: #001e44;
}

.txt_categoria_nome {
  margin-top: 1%;
  padding-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 16.5px;
  position: relative;
  font-weight: 600;
  color: #FF6100;
}

.grid_custovalor {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
}

.txt_custo {
  margin-top: 1%;
  padding-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 16.5px;
  position: relative;
  font-weight: 500;
  color: #001e44;
}

.txt_valor {
  margin-top: 1%;
  padding-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 16.5px;
  position: relative;
  font-weight: 600;
  color: #FF6100;
}


/* STYLE DO BOTÃO VER PROFISSIONAL */
/* STYLE DO BOTÃO VER PROFISSIONAL */
/* STYLE DO BOTÃO VER PROFISSIONAL */

.botao_veritem {
  display: block;
  position: relative;
  margin-top: 30%;
  margin-left: 35%;
  appearance: none;
  background-color: transparent;
  border: 2px solid #001024;
  border-radius: 30px 30px 30px 30px;
  box-sizing: border-box;
  color: #D9D9D9;
  background-color: #001024;
  cursor: pointer;
  font-family: 'Raleway';
  font-size: 15px;
  width: 55%;
  height: 30%;
  outline: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.card a{
  text-decoration: none;
}

/* ANIMAÇÃO DO BOTÃO VER PROFISSIONAL */
/* ANIMAÇÃO DO BOTÃO VER PROFISSIONAL */
/* ANIMAÇÃO DO BOTÃO VER PROFISSIONAL */

.botao_veritem:disabled {
  pointer-events: none;
}

.botao_veritem:hover {
  color: #001024;
  background-color: #FF6100;
  transform: translateY(-2px);
  font-weight: bold
}

.botao_veritem:disabled:active {
  transform: translateY(0);
}

/* STYLE DO FOOTER */
/* STYLE DO FOOTER */
/* STYLE DO FOOTER */

footer{
  background-color:#001024;
  color: #888888;
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  font-family: 'Raleway';
  padding: 25px;
}

.footer_left{
  margin: auto;
}

.footer_center{
  margin: auto;
}

.footer_right{
  margin: auto;
  text-align: center;
}

.logo_footer{
  width: 90px;
}

.footer_right a{
  margin: auto;
  color: #FF6100;
}