@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #001e44;
    background-image: linear-gradient(to bottom, #001024, #001e44);
    /* margin: auto; */
    background-repeat: no-repeat;

}

/* INICIO DAS FOTOS DO CATALOGO */
/* INICIO DAS FOTOS DO CATALOGO */
/* INICIO DAS FOTOS DO CATALOGO */

/* GRID DE TODOS DOS BLOCOS */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-bottom: 12%;
    grid-row-gap: 100px;
    grid-column-gap: 70px;
    width: 66%;
    height: 100%;
    border: red solid 1px;
    justify-content: center;
    padding-top: 2%;
}

.flip-card {
    background-color: transparent;
    width: 250px;
    height: 325px;
    perspective: 1000px;
    font-family: sans-serif;
    margin: auto;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 250px;
    height: 325px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    /* box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2); */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 325px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid linear-gradient(45deg, #04051dea 0%, #1f3f50 100%);
    border-radius: 1rem;
  }
  
  .flip-card-front {
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    border-radius: 20px;
    background-color: #D9D9D9;
    /* background: linear-gradient(45deg, #04051dea 0%, #1f3f50 100%); */
    font-family: 'Raleway', sans-serif;
    width: 200px;
    height: 325px;
    color: #001024;
  }

.imgE1 {
    display: inline-flex;
    width: 250px;
    height: 325px;
}
  
  .flip-card-back {
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 325px;
    padding: 20px 1px;
    border-radius: 10px;
    background-color: #D9D9D9;
    color: #001024;
    /* background: linear-gradient(45deg, #04051dea 0%, #1f3f50 100%); */
    font-family: 'Raleway', sans-serif;
    transform: rotateY(180deg);
  }

  /* FIM DO CARD */

.textos {
    padding-bottom: 20px;
}

.textos .preço {
    color: #001024;
    font-weight: 800;
    font-size: 40px;
    /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42); */
    text-align: center;
}

.textos .descrição {
    color: #001024;
    margin-top: 10px;
    font-size: 80%;
    line-height: 20px;
    padding-left: 15px;
    padding-right: 15px
}

.textos .titulo {
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.64);
    margin-top: 8px;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
}

.botao {
    appearance: none;
    background-color: transparent;
    border: 3px solid #FF6100;
    border-radius: 30px 30px 30px 30px;
    box-sizing: border-box;
    color: #D9D9D9;
    background-color: #001024 ;
    cursor: pointer;
    display: block;
    font-family:'Raleway'; 
    font-size: 16px;
    /* margin-left: 35%; */
    /* margin-top: 10%; */
    min-height: 15%;
    min-width: 150px;
    outline: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.botao:disabled {
    pointer-events: none;
   }
   
   .botao:hover {
    color: #001024;
    background-color:#FF6100;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px; */
    transform: translateY(-2px);
    font-weight: bold
   }
   
   .botao:active {
    /* box-shadow: none; */
    transform: translateY(0);
   }

/* BLOCOS GERAIS */

/* .bloco_1 {

    display: block;
    width: 250px;
    height: 375px;
    border-radius: 20px 20px;
    background-color: #002658;
    align-items: center;
    padding-top: 6.5%;
} */

/* IMAGENS DOS BLOCOS GERAIS */

.imgE1 {
    display: block;
    width: 215px;
    height: 230px;
    border-radius: 10px 25px 10px 25px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/* .txt_bloco1{
    display: block;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 9px;
    font-weight: normal;
    left: 2%;
    color: white;
} */