@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #001e44;
    background-image: linear-gradient(to bottom, #001024, #001e44);
    /* margin: auto; */
    background-repeat: no-repeat;

}

/* CATALOGO */
/* CATALOGO */
/* CATALOGO */

.cabecalho {
  width: 100%;
  height: 80px;
  background-color: white;
  align-items: center;
  text-align: center;
  display: flex;
}

.cabecalho_2 {
  width: 100vw;
  height: 45px;
  background-color: #D9D9D9;
  align-items: center;
  text-align: center;
  display: flex;
}

.txt_espacos {
  display: block;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  /* text-align: center; */
  align-items: center;
  /* font-weight: 100; */
  font-size: 9px;
  left: 22%;
  color: #FF6100;
  top: 4.5%;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
}

.txt_espacos:hover {
  opacity: 0.5;
  transform: scale(0.95);
  color: #FF6100;
}

.txt_profissionais {
  display: block;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-size: 9px;
  left: 34%;
  color: #001024;
  /* top: 2%; */
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  top: 4.5%;
  align-items: center;
  text-decoration: none;
}

.txt_profissionais:hover {
  opacity: 0.5;
  transform: scale(0.95);
  color: #FF6100;

}

.barra_seletora {
  /* display: block; */
  position: relative;
  border: 1.5px solid;
  color: #FF6100;
  width: 68.8px;
  height: 0px;
  left: 34.8%;
  top: 38.5px;
}

.txt_combos {
  display: block;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-size: 9px;
  left: 48%;
  /* top: 2%; */
  color: #001024;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  top: 4.5%;
  align-items: center;
  text-decoration: none;
}

.txt_combos:hover {
  opacity: 0.5;
  transform: scale(0.95);
  color: #FF6100;

}

.txt_equipamentos {
  display: block;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-size: 9px;
  left: 58%;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  color: #001024;
  transition-duration: 0.4s;
  top: 4.5%;
  align-items: center;
  text-decoration: none;
}

.txt_equipamentos:hover {
  opacity: 0.5;
  transform: scale(0.95);
  color: #FF6100;

}

.logo {
  width: 62px;
  height: 62px;
  position: relative;
  left: 160%;
  top: 2px;
  /* top: 20px; */
  /* position: absolute; */
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.logo:hover {
  opacity: 2.5;
  transform: scale(1.1);
}

.conta {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  left: 79.2vw;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.conta:hover {
  opacity: 2.5;
  transform: scale(1.1);
}

.busca {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  left: 70vw;
  color: #011E44;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.busca:hover {
  opacity: 2.5;
  transform: scale(1.1);
}

.caixinha {
  display: block;
  width: 45px;
  height: 35 px;
  position: relative;
  left: 81vw;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.caixinha:hover {
  opacity: 2.5;
  transform: scale(1.1);
}

/* BARRA CINZA */
/* BARRA CINZA */
/* BARRA CINZA */

.cabecalho_2 {
  width: 100vw;
}

.txt_geral {
  display: block;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  left: 24%;
  color: #FF6100;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.txt_geral:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.txt_podcast {
  display: block;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  left: 34%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.txt_podcast:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.txt_musical {
  display: block;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  left: 46%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.txt_musical:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.txt_videos {
  display: block;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  left: 57%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.txt_videos:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.txt_streaming {
  display: block;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  left: 68%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.txt_streaming:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

/* FIM DA CABECALHO */
/* FIM DA CABECALHO */
/* FIM DA CABECALHO */

.titulo_espacos{
  color: #D9D9D9;
  text-align: center;
  margin-top: 2%;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;   
  font-size: 38px;
}

.subtitulo_espacos{
  color: #D9D9D9;
  text-align: center;
  margin-top: 0.5%;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}

/* INICIO DAS FOTOS DO CATALOGO */
/* INICIO DAS FOTOS DO CATALOGO */
/* INICIO DAS FOTOS DO CATALOGO */

/* GRID DE TODOS DOS BLOCOS */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-bottom: 15%;
    grid-row-gap: 170px;
    grid-column-gap: 70px;
    width: 60%;
    height: 100%;
    justify-content: center;
    padding-top: 2%;
}

/* CARDS GERAIS DO CATALOGO */

/* .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 325px;
    padding: 20px 1px;
    margin: 10px 0;
    position: relative;
    box-shadow: 0 10px 15px -3px rgba(33, 150, 243, .4), 0 4px 6px -4px rgba(33, 150, 243, .4);
    border-radius: 10px;
    background-color: #2a2b41;
    background: linear-gradient(45deg, #04051dea 0%, #1f3f50 100%);
    font-family: 'Raleway', sans-serif;
} */

.flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 250px;
    height: 325px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 300px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid linear-gradient(45deg, #04051dea 0%, #1f3f50 100%);
    border-radius: 1rem;
  }
  
  .flip-card-front {
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 300px;
    padding: 20px 1px;
    margin: 10px 0;
    border-radius: 20px;
    border: white 2px solid;
    background-color: #D9D9D9 ;
    /* background: linear-gradient(45deg, #04051dea 0%, #1f3f50 100%); */
    font-family: 'Raleway', sans-serif;
    width: 250px;
    height: 325px;
    color: #001024;
  }

.imgE1 {
    display: inline-flex;
    width: 250px;
    height: 325px;
}
  
  .flip-card-back {
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 325px;
    padding: 20px 1px;
    margin: 10px 0;
    border-radius: 20px;
    border: #FF6100 2px solid;
    background-color: #D9D9D9;
    /* background: linear-gradient(45deg, #04051dea 0%, #1f3f50 100%); */
    font-family: 'Raleway', sans-serif;
    transform: rotateY(180deg);
  }

  /* FIM DO CARD */

.textos {
    padding-bottom: 0px;
}

.textos .preço {
    color: #001024;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
}

.textos .descrição {
    color: #001024;
    margin-top: 5%;
    font-size: 15px;
    line-height: 20px;
    padding-left: 15px;
    padding-right: 15px
}

.botao {
    appearance: none;
    background-color: transparent;
    border: 1px solid #001024;
    border-radius: 30px 30px 30px 30px;
    box-sizing: border-box;
    color: #D9D9D9;
    background-color: #001024 ;
    cursor: pointer;
    display: block;
    font-family:'Raleway'; 
    font-size: 16px;
    /* margin-left: 35%; */
    min-height: 15%;
    min-width: 150px;
    outline: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.botao:disabled {
    pointer-events: none;
   }
   
   .botao:hover {
    color: #001024;
    background-color:#FF6100;
    transform: translateY(-2px);
   }
   
   .botao:active {
    box-shadow: none;
    transform: translateY(0);
   }

/* BLOCOS GERAIS */

/* .bloco_1 {

    display: block;
    width: 250px;
    height: 375px;
    border-radius: 20px 20px;
    background-color: #002658;
    align-items: center;
    padding-top: 6.5%;
} */

/* IMAGENS DOS BLOCOS GERAIS */

.imgE1 {
    display: block;
    width: 215px;
    height: 230px;
    border-radius: 10px 25px 10px 25px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/* .txt_bloco1{
    display: block;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 9px;
    font-weight: normal;
    left: 2%;
    color: white;
} */