@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;

}


body{
  width: 100%;
  height: 100vh; 
  background-color: #001e44;
  background-image: linear-gradient(to bottom, #001024, #001e44);
  background-repeat: no-repeat;
}  

.cabecalho{
width: 100%;
height: 30px;
display: flex;
}

.ajuda{
padding:45px;
/* margin: auto; */
text-align: left;
color: #FF6100;
nav-up: auto;
}

.ajuda a{
color: #FF6100;
}

.espaço{
padding:400px;
margin: auto;
text-align: left;
}

.sobre{
padding: 40px;
/* margin: auto; */
text-align: right;
text-decoration: #FF6100;
width: 10vw;
}

.sobre a{
color: #FF6100;
}

.logo{  
  width: 440px;
  margin: auto;
  /* display: flex;  */
  /* background-image: url(logobranca.png);  */
  background-repeat: no-repeat  ;
  top: 0px;
}

.botoes{
  display: grid;
  margin: auto;
  width: 50%;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5%;
  grid-column-gap: 100px;

}

.caixinha{
  background-color: #001e44;
  border-radius: 20px;
  border: #001e44 solid 2px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 90%;
  transition: 0.5s ease-out;
  overflow: visible;
  
}

.caixinha:hover {
  border-color: 2px solid #FF6100;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  
}

.img_caixinha{
  margin: auto;
  width: 70%;
}

.txt_caixinha{
  color: #FF6100;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 600;
  margin: auto;
}


.perfil{
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #001e44;
  border-radius: 20px;
  border: #001e44 solid 2px;  
  width: 90%;
  transition: 0.5s ease-out;
  overflow: visible;
}

.perfil:hover {
  border: 2px solid #FF6100;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  
}

.img_perfil{
  margin: auto;
  width: 70%;
}

.txt_perfil{
  color: #FF6100;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 600;
  margin: auto;
}
  
.imagens_pages{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  margin: auto;
  }

.img {
  width:100%;
}

.box{
  margin: auto;
}

.box button{
  position: absolute;
  appearance: none;
  background-color: transparent;
  border: 0px solid #001024;
  border-radius: 30px 30px 30px 30px;
  color: #001024;
  background-color: #FF6100;
  cursor: pointer;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin-left: 8% ;
  margin-top: 10%;
  height: 50%;
  max-height:60px;
  width: 30%;
  max-width: 200px;
  max-width: 120px;
  outline: none;
  padding: 10px;

  
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.box button:disabled {
  pointer-events: none;
}

.box button:hover {
  color: #FF6100;
  background-color: #001024;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px; */
  transform: translateY(-2px);
  /* font-weight: bold */
}

.box button:disabled:active {
  /* box-shadow: none; */
  transform: translateY(0);
}